{% extends 'pagelayout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block pagecontent %}
{% for section in sections %}
  {% if section.anchor %}<a name="{{ section.anchor }}"></a>{% endif %}
  {% include ('sections/' ~ section.class ~ '.html.twig') with section %}
{% endfor %}
{% endblock %}